body{
  background-image: url(../Assets/photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.text{
  width: 700px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  color:white;
  text-align: justify;
  text-shadow: black 0.1em 0.1em 0.2em;

 
}
.text,  button{
  font-family: 'Roboto', sans-serif;
}

.container{

  display: flex;
}

.personagem{
  width: 500px;
  color: white;
}

.objetivo{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5 linear;
  color: antiquewhite;
  text-shadow: black 0.1em 0.1em 0.2em
}

.personagem:hover .objetivo{
  visibility: visible;
  opacity: 1;
}

.botao{
  display: flex;
  justify-content: center;
}

button{
  align-self: center;
  flex-wrap: wrap;
  border-top: 1px solid #96d1f8;
  background: #09283d;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#09283d));
  background: -webkit-linear-gradient(top, #3e779d, #09283d);
  background: -moz-linear-gradient(top, #3e779d, #09283d);
  background: -ms-linear-gradient(top, #3e779d, #09283d);
  background: -o-linear-gradient(top, #3e779d, #09283d);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .text{
    width: 100%;
    flex-direction: column;
    overflow: auto;
    font-size: 20px;
  }

  .container{
    flex-direction: column;
    margin: 10px;
  }

  .objetivo{
    font-size: 20px;
  }

  .botao{
    font-size: 20px;
  }

}