body{
  background-image: url(../Assets/ghosts-gespenter-spooky-horror.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#text{
  width: 700px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  font-size: 26px;
  text-shadow: black 0.1em 0.1em 0.2em;
  color:white;
 
}
#text,  button{
  font-family: 'Roboto', sans-serif;
}

button{
  align-self: center;
  flex-wrap: wrap;
  border-top: 1px solid #96d1f8;
  background: #09283d;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#09283d));
  background: -webkit-linear-gradient(top, #3e779d, #09283d);
  background: -moz-linear-gradient(top, #3e779d, #09283d);
  background: -ms-linear-gradient(top, #3e779d, #09283d);
  background: -o-linear-gradient(top, #3e779d, #09283d);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  vertical-align: middle;
}
